<div>
  <div class="vr-video-card" *ngIf="vrVideo">
    <div class="thumbnail">
      <img *ngIf="vrVideo.images[0] as firstImage; else defaultImage" [src]="firstImage | imageUrlResolver" alt="VR Video image"/>
      <ng-template #defaultImage>
        <img src="assets/image/default-vr-video.jpg" alt="VR Video image"/>
      </ng-template>
      <span>
        {{vrVideo.width | rawResolution}}
      </span>
    </div>
    <div class="content">
      <div class="top-actions">
        <button mat-icon-button aria-label="Marks as favourite" (click)="setAsFavourite()">
          <mat-icon [ngClass]="{'has-fav': vrVideo.favourite}">favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="More actions" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="reportVideo()">
            <span *ngIf="!vrVideo.reported; else undoReportLabel">
              Report
            </span>
            <ng-template #undoReportLabel>
              <span>
                Undo report
              </span>
            </ng-template>
          </button>
        </mat-menu>
      </div>
      <div class="description">
        {{vrVideo.description}}
      </div>
      <div class="viewed-times">
        <mat-icon>visibility</mat-icon>{{vrVideo.viewed_times}}
      </div>
      <div>
        <bar-rating [(rate)]="vrVideo.rating" [max]="5" (rateChange)="onChangeRate($event)"></bar-rating>
      </div>
      <div class="actresses-list" (click)="openActressesSelector()">
        <div *ngFor="let actress of vrVideo.actresses">
          {{actress.name}}
        </div>
        <mat-icon *ngIf="vrVideo.actresses.length==0">add_circle</mat-icon>
      </div>
      <div class="categories-list" (click)="openCategoriesSelector()">
        <span *ngFor="let category of vrVideo.categories">
          #{{category.canonical_name}}
        </span>
        <mat-icon *ngIf="vrVideo.categories.length==0">add_circle</mat-icon>
      </div>
      <div class="footer">
        <div>
          <span>
            {{vrVideo.duration_seconds | timeDuration}}
          </span>
        </div>
        <div>
          <span>
            {{vrVideo.filesize | fileSize}}
          </span>
        </div>
        <div>
          <span>
            {{vrVideo.created_at | date : 'd/M/yy, h:mm a'}}
          </span>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="view()">
            <mat-icon>play_circle</mat-icon> view
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
