<div>
  <div class="vr-video-card" *ngIf="vrVideo">
    <div class="thumbnail">
      <img src="./assets/image/default.jpg" alt="VR Video image" />
      <span>
        {{vrVideo.width | rawResolution}}
      </span>
    </div>
    <div class="content">
      <div class="fav">
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div class="description">
        {{vrVideo.description}}
      </div>
      <div class="actresses-list" (click)="openActressesSelector()">
        <div *ngFor="let actress of vrVideo.actresses">
          {{actress.name}}
        </div>
        <mat-icon *ngIf="vrVideo.actresses.length==0">add_circle</mat-icon>
      </div>
      <div class="categories-list" (click)="openCategoriesSelector()">
        <span *ngFor="let category of vrVideo.categories">
          #{{category.canonical_name}}
        </span>
        <mat-icon *ngIf="vrVideo.categories.length==0">add_circle</mat-icon>
      </div>
      <div class="footer">
        <div>
          <span>
            {{vrVideo.duration_seconds | timeDuration}}
          </span>
        </div>
        <div>
          <span>
            {{vrVideo.filesize | fileSize}}
          </span>
        </div>
        <div>
          <span>
            {{vrVideo.created_at | date : 'M/d/yy, h:mm a'}}
          </span>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="view()">
            <mat-icon>play_circle</mat-icon> View
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
