@import '../../../styles';

:host {
  color: $primary-color;
  >div {
    .vr-video-reported {
      opacity: 0.4;
    }
    .vr-video-card {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0;
      .viewed-times {
        .mat-icon {
          margin: 0 5px 0 0;
        }
        display: flex;
        align-items: center;
        font-weight: bold;
      }
      .thumbnail {
        position: relative;
        flex: 0 0 40%;
        max-width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
        span {
          position: absolute;
          bottom: 5px;
          right: 5px;
          background-color: $secondary-color;
          color: $primary-color;
          font-weight: bold;
          font-size: 1.3rem;
          padding: 2px 3px;
          outline: solid 2px $primary-color;
        }
      }
      .content {
        flex: 0 0 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 60%;
        >div {
          margin: 10px 0;
          padding: 0 0 0 2rem;
          box-sizing: border-box;
        }
        .description {
          color: $primary-color;
          h5 {
            font-weight: bold;
            font-size: 1.3rem;
          }
          p {
            font-size: 0.6rem;
          }
        }
        .actresses-list, .categories-list {
          cursor: pointer;
          color: $primary-color;
        }
        .actresses-list {
          display: block;
          >div {
            display: flex;
            align-items: center;
            img {
              height: 37px;
              width: 37px;
              object-fit: cover;
              border-radius: 50% 50%;
              margin: 5px 8px 0 0;
            }
            font-weight: bold;
            font-size: 1rem;
          }
        }
        .categories-list {
          font-size: 0.7rem;
        }
        .top-actions {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          button {
            .mat-icon {
              &:not(.has-fav) {
                color: darkgrey;
              }
              &.has-fav {
                color: $primary-color !important;
              }
            }
          }
        }
        .footer {
          display: flex;
          justify-content: space-between;
          >div {
            >span {
              font-size: 0.6rem;
              font-weight: bold;
              color: $primary-color;
            }
            button {
              margin: 0 0.5rem;
            }
          }
        }
      }
    }
  }
}
