@import 'src/styles';

:host {
  .wrapper-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem 0;

    >div {
      flex: 0 0 75%;
      max-width: 75%;

      @include for-phone-only {
        flex: 0 0 95%;
        max-width: 95%;
      }
      @include for-tablet-portrait-up {
        flex: 0 0 90%;
        max-width: 90%;
      }
      @include for-desktop-up {
        flex: 0 0 40%;
        max-width: 40%;
      }
      @include for-big-desktop-up {
        flex: 0 0 40%;
        max-width: 40%;
      }
    }
  }
}
