:host {
  .wrapper-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem 0;

    >div {
      border: solid 1px gray;
      flex: 0 0 70%;
      max-width: 70%;
      box-shadow: 0 0 0 black;
    }
  }
}
