<div class="actress-wrapper">
  <div>
    <app-widgets-image-gallery-clickable *ngIf="actress.images.length; else defaultImage" [images]="actress.images"></app-widgets-image-gallery-clickable>
    <ng-template #defaultImage>
      <img src="assets/image/default-actress.jpg" alt="Image actress"/>
    </ng-template>
  </div>
  <div>
    <div>
      {{actress.name}}
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="select()">
        Select
      </button>
    </div>
  </div>
</div>
