<div>
  <app-widgets-wrapper-view [loader]="loader">
    <div>
      <div>
        <app-widgets-list-criteria-selector (onChangeCriteria)="onChangeCriteria($event)"></app-widgets-list-criteria-selector>
        <span class="total-info" *ngIf="paginatorHelper.getTotal() as total">Found {{total | number }} results</span>
      </div>
      <div>
        <app-pagination [currentPage]="currentPage" (pageSelection)="selectPage($event)" [summaryPages]="summaryPages"></app-pagination>
        <ng-template ngFor let-vrVideo [ngForOf]="collection" [ngForTrackBy]="trackByVrVideo">
          <app-widgets-vr-video-card [vrVideo]="vrVideo"></app-widgets-vr-video-card>
        </ng-template>
        <app-pagination [currentPage]="currentPage" (pageSelection)="selectPage($event)" [summaryPages]="summaryPages"></app-pagination>
      </div>
    </div>
  </app-widgets-wrapper-view>
</div>
