<div>
  <app-widgets-wrapper-view [loader]="loader">
    <div>
      <div>
        <app-widgets-list-criteria-selector (onChangeCriteria)="onChangeCriteria($event)"></app-widgets-list-criteria-selector>
        <span class="total-info" *ngIf="paginatorHelper.getTotal() as total">Found {{total}} results</span>
      </div>
      <div>
        <ng-template ngFor let-vrVideo [ngForOf]="collection" [ngForTrackBy]="trackByVrVideo">
          <app-widgets-vr-video-card [vrVideo]="vrVideo"></app-widgets-vr-video-card>
        </ng-template>
        <div class="next-page">
          <button mat-raised-button color="primary" *ngIf="paginatorHelper.getPages()>currentPage" (click)="onScroll()">
            Show more
          </button>
        </div>
      </div>
    </div>
  </app-widgets-wrapper-view>
</div>
