<div>
  <input type="text" [(ngModel)]="searchText" (keyup)="search()" placeholder="Search actress..." />
</div>
<mat-dialog-content>
  <div class="collection">
    <span *ngIf="filtered.length as count">Found {{count}} results</span>
    <div class="actress" *ngFor="let actress of filtered">
      <div>
        <img *ngIf="actress.images[0] as firstImage; else defaultImage" [src]="firstImage | imageUrlResolver" alt="Image actress"/>
        <ng-template #defaultImage>
          <img src="assets/image/default-actress.jpg" alt="Image actress"/>
        </ng-template>
      </div>
      <div>
        <div>
          {{actress.name}}
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="select(actress)">
            Select
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
