:host {
  .collection {

    .actress {
      margin: 2rem 0;
      display: flex;
      align-items: flex-start;

      >div {
        &:nth-child(1) {
          flex: 0 0 50%;
          max-width: 50%;
          img {
            height: 160px;
            border-radius: 5px;
          }
        }
        &:nth-child(1) {

        }
      }
    }
  }
}
