@import './../../../styles';

:host {

  >div {
    &:nth-child(1) {
      padding: 2rem 1rem;
    }
  }
  >span {
    font-size: 0.9rem;
  }
  .collection {
    height: 325px;
    overflow-y: scroll;
    background-color: $secondary-color;
    padding: 0 15px;
  }
  .mat-dialog-content {
    overflow: hidden !important;
  }
}
