$primary-color: #c2185b;
$secondary-color: #fbe3ec;

html, body {
  height: 100%;
  background-color: $secondary-color;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type=text], select {
  width: 100%;
  padding: 5px 4px;
  color: $primary-color;
  border: solid 1px $primary-color;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}
.mat-dialog-container {
  background: white;
  color: $primary-color;
}
.mat-autocomplete-panel {
  background: white;
}
.mat-option-text {
  color: $primary-color;
  text-transform: capitalize;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
