<mat-dialog-content>
  <div>
    <form [formGroup]="formGroup">
      <div>
        <input type="text" formControlName="text" placeholder="Category name..." [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
          <mat-option *ngFor="let category of filteredOptions | async" [value]="category">
            {{category.canonical_name}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary" (click)="addCategory()">Save</button>
</mat-dialog-actions>

