$main-color: #c2185b;

:host {
  >div {
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem 0;

    .filters-wrapper {
      >div {
        padding: 0 1rem;
        margin: 1rem 0;
      }
    }

    .chips-wrapper {
      padding: 0 1.5rem;
    }
  }
}
