<div>
  <div class="filters-wrapper">
    <div>
      <app-widgets-autocomplete-vr-video-input
        (onSelectActress)="onSelectActress($event)"
        (onSelectCategory)="onSelectCategory($event)"
        (onSelectResolution)="onSelectResolution($event)"
      ></app-widgets-autocomplete-vr-video-input>
    </div>
    <div>
      <select [(ngModel)]="criteria.sort" name="sort" (change)="changeCriteria()">
        <option *ngFor="let option of sortOptions" [value]="option.value">
          {{option.rawText}}
        </option>
      </select>
    </div>
  </div>
  <div class="chips-wrapper">
    <mat-chip-list>
      <mat-chip (removed)="criteria.resolutions.splice(index, 1);changeCriteria()" *ngFor="let resolution of criteria.resolutions; let index = index">
        {{resolution}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <mat-chip (removed)="criteria.categories.splice(index, 1);changeCriteria()" *ngFor="let category of criteria.categories; let index = index">
        {{category.canonical_name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <mat-chip (removed)="criteria.actress=null;changeCriteria()" *ngIf="criteria.actress as actress">
        {{actress.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
